ultralytics
tensorflow-cpu
torch
torchvision
opencv-python
psutil
matplotlib
PyYAML
tqdm
pandas
py-cpuinfo
onnx
sng4onnx
onnxsim
onnx_graphsurgeon
tflite_support
onnxruntime
tf_keras
onnx2tf==1.22.3
onnxslim
micropy-cli
jupyter
